<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>The Bicycle Shop | Programming With Ariyan</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <header>
          <h1>The Bicycle Shop</h1>
        </header>
      </nav>

      <div class="bicycleShop">

        <% for (let cycle of bicycles) { %>

        <div class="bicycle">
          <div class="bicycle__image">
            <img src="/images/<%= cycle.image %>" alt="<%= cycle.name %>" />
          </div>
        
          <div class="bicycle__name">
            <a href="/bicycle?id=<%= cycle.id %>"><%= cycle.name %></a>
          </div>
        
          <div class="bicycle__rating">

            <% for (let index = 0; index < cycle.star; index++) { %>
              <span class="fa fa-star checked"></span>
            <% } %>

            <% for (let index = 0; index < 5 - cycle.star; index++) { %>
              <span class="fa fa-star"></span>
            <% } %>
            
          </div>
        
          <div class="bicycle__price">
            <p class="current_price">$<%= cycle.originalPrice %></p>
            <p class="old_price">$<%= cycle.originalPrice %></p>
          </div>
          
          <% if (cycle.hasDiscount) { %>
            <div class="discount__rate"><p><%= cycle.discount %>% Off</p></div>
          <% } %>
        </div>

        <% } %>

      </div>
    </div>
  </body>
</html>
